.box {
  width: 15%;
  height: 350;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(54, 180, 203);
  color: white;
  padding: 10px;
  margin: 5px;
}
.btn {
  height: 30px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  background-color: cornsilk;
}
.btn:hover {
  background-color: rgb(255, 199, 159);
  border: 0;
  border-radius: 10%;
}
